.cache/
weights/
hf_cache/
__pycache__/
rag_data/

weights_retrain/
weights_re_retrain/

.DS_Store

storage/
data/

# Random files
Dockerfile.train
requirements.train.txt

# Do not ignore main.tex and sections/ for all docs
docs/*/**
!docs/*/main.tex
!docs/*/references.bib
!docs/*/sections/
!docs/*/sections/*.tex
!docs/outputs/
!docs/outputs/*

rag/vectorstore/
